body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px; /* Добавим отступ между каждым вопросом */
}

input[type="text"] {
    width: calc(100% - 22px); /* Вычтем 22px (10px + 10px + 2px) справа, чтобы создать отступ */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    margin-top: 10px; /* Добавим небольшой отступ между последним ответом и кнопкой отправки */
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}