body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    color: #000;
    font-size: 20px;
}

#header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#header span {
    font-size: 24px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#window {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
}

#inner-window {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    overflow-y: scroll;
    height: 200px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    width: 600px;
    font-size: 20px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

#timer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 20px;
}